@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Inter:wght@500&display=swap');

$img_path: '../../img/';
$main_color: #FF6B0F;

html, body {
    position: relative;
    overflow-x: hidden;
}

.container {
    height: 100%;
    width: 100%;
    padding: 0 10px;
}

@media (min-width: 768px){
    .container {
        padding: 0 100px;
    }
}

.title {
    font-family: 'Bitter';
    font-weight: 400;
    color: black;
    text-align: center;
    font-size: 30px;
}

.btn {
    background: linear-gradient(135deg, $main_color 50%, black 50%);
    background-size: 250%;
    background-position: left;
    font-family: 'Inter';
    font-weight: 500;
    transition: 0.2s linear;
    color: white;
        padding: 10px 0;
        border-radius: 2px;
        border: none;
    &:hover {
        background-position: right;
    }
}

.meeter {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    min-height: 500px;
    background: url('#{$img_path}meeter3.jpg') center;
    background-size: auto 130%;
    background-position: top;
    &__body {
        height: 100%;
        width: 100%;
        padding: 30px 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: block;
        width: 100px;
        height: 100px;
        border: 1px solid black;
        margin: 0 auto;
    }
    &__title {
        margin-top: 5vh;
    }
    &__button {
        display: block;
        font-size: 20px;
        margin: 10px 0;
        width: 250px;
    }
}

@media (min-width: 768px) {
    .meeter {
        background-size: cover;
        &__title {
            font-size: 40px;
        }
        &__body {
            padding: 50px 0 100px;
        }
    }
}

@media (min-width: 1024px) {
    .meeter {
        height: auto;
        height: 60vh;
        
    }
}

// @media (min-width: 1920px) {
//     .meeter {
//         background-size: 100% auto;
//     }
// }

.text-block {
    background: white;
    &__title {
        position: relative;
        margin-bottom: 30px;
        display: inline-block;
        &::after {
            display: block;
            margin-top: 2px;
            width: 100%;
            content: '';
            position: absolute;
            border-bottom: 5px solid $main_color;
        }
    }
    &__wrapper {
        padding: 50px 10px;
        max-width: 1024px;
        margin: auto;
    }
    &__text {
        font-family: 'Bitter';
        font-weight: 400;
        font-size: 18px;
    }
}

.inform {
    &__inner {
        max-width: 1024px;
        min-height: 500px;
        margin: 0 auto 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
    }
    &__item {
        height: auto;
        position: relative;
        background-color: $main_color;
        overflow: hidden;
        
        &--big {
            grid-row-start: 1;
            grid-row-end: 3;
        }
        &:hover {
            .inform__img-mask {
                opacity: 1;
            }
            .inform__item-wrapper {
                transform: translateY(0);
            }
            .inform__item-text {
                opacity: 1;
            }
        }
    }
    &__item-wrapper {
        position: relative;
        z-index: 2;
        height: 100%;
        transition: transform 1s;
        transform: translateY(36%);
    }
    &__item-content {
        position: relative;
        height: 100%;
        padding: 20px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        color: white;
    }
    &__item-text {
        color: white;
        opacity: 0;
        transition: opacity 1s;
        // margin-top: 15px;
        font-family: 'Bitter';
        font-weight: 400;
        font-size: 16px;
    }
    &__item-button {
        width: 100px;
        // margin-top: 15px;
    }
    &__img-mask {
        position: absolute;
        z-index: 1;
        height: 100%;
        background-color: rgba(#000, 1);
        transition: opacity 1s;
        opacity: 0;
    }
    &__item-img {
        opacity: 0.3;
        position: relative;
        object-fit: cover;
        height: 100%;
    }
    &__text-item {
        padding: 10px 25px;
        font-size: 16px;
        font-family: 'Bitter';
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.scroll-anim {
    &__inner {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;
    }
    &__item {
        display: flex;
        width: 45%;
        text-align: left;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.5s;
        &--bellow {
            margin-top: 200px;
            text-align: right;
            transform: translateX(50%);
        }
        &--active {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__title {
        text-align: inherit;
        font-size: 24px;
        position: relative;
        padding: 10px 0;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 40%;
            left: 0;
            height: 3px;
            background-color: $main-color;
        }
        &--bellow:after {
            left: auto;
            right: 0;
        }
    }
    &__text {
        font-size: 16px;
        font-family: 'Bitter';
        font-weight: 400;
        margin-top: 20px;
    }
}

.footer {
    height: 100px;
    background-color: #ff9451;
}